<!DOCTYPE html>
<html>
<head>
  <title>Epic Energy Services</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div class="header-menu">Epic Energy Services</div>
<div class="container-menu">
  <div class="item-menu"><a href="/clienti/mostraelenco">Visualizza clienti</a></div>
  <div class="item-menu"><a href="/clienti/mostraformaggiungi">Aggiungi nuovo cliente</a></div>
  <div class="item-menu"><a href="/clienti/fatture/mostraelenco">Visualizza fatture</a></div>
  <div class="item-menu"><a href="/clienti/fatture/mostraformaggiungi">Crea nuova fattura</a></div>
  <div class="item-menu"><a href="/clienti/loader">Carica DB</a></div>
</div>

<div class="footer">Powered by Di Rubbo Valerio</div>
</body>
</html>